<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil1.jpg" class="img-fluid" id="perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <!--<h4>Acerca de</h4>
        <p>Estudiante de Licenciatura en Análisis de Sistemas, 
            Ingeniería en Informática, Profesorado en Matemáticas, etc.
        </p>!-->
        <p id="nombre">Leonel Iván Reindl</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>A cerca De mí</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed et, corporis delectus modi debitis
            expedita vitae, asperiores quam recusandae nihil animi eos itaque magnam consequuntur eveniet nobis
            distinctio soluta deleniti?
            </p>
        </span>
    </div>
</div>
