
<div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="logo d-none d-sm-inline">
            <app-logo></app-logo>
        </span> 
        <!---->
        <app-social></app-social>
    </nav>
<app-banner></app-banner>
<div class="">
    <h2 class="text-heading-xlarge inline t-24 v-align-middle break-words">Leonel Ivan Reindl</h2>
</div>
<div id="btn-ism">
    <div class="text-body-medium break-words">
        Estudiante    
    </div>
    
    <button aria-expanded="false" id="ember67" class="btn btn-primary" type="button" tabindex="0">
        Tengo interés en…
    </button>
    <button id="ember62" class="btn btn-primary"><!---->
        <span class="artdeco-button__text">
            Añadir sección
        </span>
    </button>
    <button aria-expanded="false" aria-label="Más acciones" id="ember90" class="btn btn-primary" type="button" tabindex="0">
            <span>Más</span>
    </button>
</div>

